.contact{
    background-color: #fff;
    width: 100%;
    height: 75vh;
    padding: 0 0 8rem 0;
    z-index: 10;
    margin-top: -8vh;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1.3rem;
    overflow: hidden;
}

.contact h4{
    text-align: center;
    width: 55%;
    font-size: 3.3rem;
    font-weight: 300;
}

.contact .btn-contacts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.contact .btn-contacts a{
    text-align: center;
    width: 19%;
    padding: 0.65rem 0rem;
    border-radius: 32px;
    border: 2px solid #000;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all 0.3s ease-in;
}

.contact .btn-contacts .uno{
    background-color: #000;
    color: #fff;
    font-weight: 300;
}

.contact .btn-contacts .dos{
    background-color: #fff;
    color: #000;
    font-weight: 400;
}

.contact .btn-contacts a:hover{
    cursor: pointer;
    transform: scale(1.01);
    font-weight: 400;

}

@media screen and (max-width: 550px) {
    .contact{
        background-color: #fff;
        width: 100%;
        height: 65vh;
        padding: 0 0 3.5rem 0;
        margin-top: -8vh;
        gap: 1rem;
    }
    
    .contact h4{
        width: 80%;
        font-size: 2.5rem;
    }
    
    .contact .btn-contacts{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .contact .btn-contacts a{
        text-align: center;
        width: 60%;
        padding: 0.5rem 0rem;
        border-radius: 32px;
        border: 1px solid #000;
        font-size: 1rem;
    }
    
}