@font-face {
    font-family: 'ClashDisplay';
    src: url('./fonts/ClashDisplay-Regular.otf') format('opentype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('./fonts/ClashDisplay-Light.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('./fonts/ClashDisplay-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('./fonts/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('./fonts/ClashDisplay-Bold.otf') format('opentype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('./fonts/ClashDisplay-Extralight.otf') format('opentype');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
}
